.content-box {
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    width: 308px;
    padding-left: 21px;
    padding-right: 21px;
    padding-top: 15px;
    padding-bottom: 26px;
    margin-bottom: 30px;
}

.content-box__img {
    width: 220px;
    height: 240px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.content-box__img-case {
    width: auto;
    height: auto;
}

.content-box__case {
    margin-top: 54px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.content-box__case-left__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    color: #1C1C27;
    margin-bottom: 25px;
}

.content-box__case-left__mark {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.content-box__case-left__mark-text {
    margin-left: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    color: #838383;
}

.content-box__case-right__price1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    color: #FFA542;
    text-align: center;

}

.content-box__case-right__price2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    text-decoration-line: line-through;
    color: #FFCE7F;
    margin-top: 0.13;
    text-align: center;
}

.content-box__case-right__btn {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    color: #000000;
    border: none;
    background: transparent;
    padding: 0;
    margin: 0;
    margin-top: 16px;
    text-align: center;
    transition: 0.4s;
    cursor: pointer;
}

.content-box__case-right__btn:hover {
    opacity: 0.7;
}

.opacity {
    transition: 0.4s;
    cursor: pointer;
}

.opacity:hover {
    opacity: 0.7;
}