@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.header-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.header-box__case {
    margin-left: 45px;

}

.header-box__case-img {
    transition: 0.44s;
    cursor: pointer;
}

.header-box__case-img:hover {
    opacity: 0.8;
}

.header-box__case-value {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #FFA542;
    width: 17.5px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;

    color: #FFFFFF;
    border-radius: 100%;
    height: 17.5px;
    position: absolute;
    top: 8px;
    margin-left: 15px;
}